
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
button:focus , input:focus{
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background:url("images/bus.png");
    background-color: #555555;
    background-blend-mode: soft-light;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #52AF3A;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}

.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    float: right;
    width: 80%;
    margin: 50px 0px 020px 80px;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
    background: #e6e6e6;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.f-class{
    display: flex;
    justify-content: center;
    align-content: center;
}
.inp-width{
    min-width: 100px;
}
.plus-minus-btn{
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    padding-top:23px;
    padding-left:7px;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #52AF3A;
}
.amount{
    display: flex;
    justify-content: space-between;
}
#plus-counter,
#minus-counter {
    width: 48px;
    text-align: center;
    border: 1px solid white;
    color: dimgray;
    border-radius: 5px;
    line-height: 0.7;
    background: #e6e6e6;
    cursor: pointer;
    padding:5px;
    box-sizing: border-box;
    font-size:20px;
    transition: 0.3s;
}
#plus-counter:hover,
#minus-counter:hover{
    background:#555555;
    color:white;
}

.price-btn{
        padding: 2px ;
        font-size:12px;
        color: rgb(255, 145, 0);
        transform: translateX(5px);
        border-radius: 9px;
        border: 1px solid rgb(247, 189, 0);
}
#massage,#massage-2{
    width:350px;
    min-height: 150px;
    padding:20px;
    background:white;
    position: fixed;
    top:-700px;
    left:50%;
    transform: translateX(-50%);
    margin: auto;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09),
    0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09),
    0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}
#massage-2 {
    color:red;
    text-align: center;
}
.massage-title{
    width:100%;
    margin-bottom: 10px;
}
.massge-area{
    position: relative;
}
.massage-title img{
    width:35%;
    margin:auto;
    margin-bottom: 10px;
    display:inherit;

}
.massge-content{
    padding:20px;

}
.massage-content li{
    margin-bottom:10px;
    font-size:13px;
}
[id*="msg-li-"]{
    color:blue;
}
.success-massage {
    color:#41AD49;
    text-align:center;
}
.cancle-icon{
    position: absolute;
    z-index: 1;
    top:5px;
    font-size:25px;
    background:none;
    border:none;
    right:5px;
    color:#ff0000;
}
.animation-top-to-middle{
    animation: top-to-bottom 1s ease-in forwards;
}
@keyframes top-to-bottom{
    0%{
        top:0px;

    }
    100%{
        top:70px;
    }
}
@media screen and (max-width:500px) {
    .container{
        max-width: 100%;
    }
    .main-content {
        grid-template-columns: 1fr;
    }

    .booking-form {
        margin: 20px auto;
        width:100%;
    }
    .booking-content{
        margin:0px;
        padding:20px;
    }
    .inputs label{
        font-size:15px;
    }
    .plus-minus-btn{
        padding-top:41px;
    }
    nav ul li a{
        font-size:13px;
        padding:7px;
        margin-left: 0px;
    }
}